<!--pull in code from base-->
{% extends 'omg_blog/base.html' %}
<!--override content in header of base with this-->
{% block content %}
<!--loop over the posts data in home view-->
    <!--you are accessing the key in the dict in the home view-->
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted |date:'F d, Y' }}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mt-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mt-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
                </div>
                <h2 class="article-title">{{ object.title }}</h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
<!--end the for loop-->
{% endblock content %}
