<!--pull in code from base-->
{% extends 'omg_blog/base.html' %}
<!--crispy forms-->
{% load crispy_forms_tags %}
<!--override content in header of base with this-->
{% block content %}
    <div class="content-section">
        <!--adding the csrf token for security-->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}
