<!--pull in code from base-->
{% extends 'omg_blog/base.html' %}
<!--crispy forms-->
{% load crispy_forms_tags %}
<!--override content in header of base with this-->
{% block content %}
    <div class="content-section">
        <!--adding the csrf token for security-->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy  }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
